<%- include("template/cabecera", {tituloWeb: 'Detalle de la mascota con el ID seleccionado'}) %>
    <div class="container">
       <% if (error == true) { %>
            <p>
                <%= mensaje %><%= id %> 
            </p>
       <% } %> 
       <% } else { %>
            <h1>Detalle de La Mascota con el ID <%= id %> </h1>
       <% } %> 
    </div>
<%- include("template/footer") %>