<%- include("template/cabecera", {tituloWeb: 'Detalle de la mascota con el ID seleccionado'}) %>
    <div class="container">
       <% if (error == true) { %>
            <p>
                <%= mensaje %>&nbsp<%= id %>  
            </p>
            <a href="/mascotas" class="btn btn-dark btn-block">Volver a La Pagina del listado de Mascotas para añadir eleminar o borrar mascotas de la BBDD</a>
       <% } else { %> 
            <h1>Detalle de La Mascota con el ID <%= id %> , cuyo
            nombre es <%= NombreMascota %> y cuya descripcion es <%= DescripcionMascota %>   </h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>         
                    <tr>
                        <th scope="row"><%= mascotaDB.id %> </th>
                        <td><%= mascotaDB.nombre %></td>
                        <td><%= mascotaDB.descripcion %></td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
              </table>
       <% } %> 
    </div>
<%- include("template/footer") %>
