<%- include("template/cabecera", {tituloWeb: 'Editar la Mascota Seleccionada'}) %>
    <div class="container">
        <h1>Editar Mascota cuya ID es : <%= mascotaDB.id %> y cuyo Nombre es <%= mascotaDB.nombre %> </h1>
        <hr></hr>
        <h2>Datos de la Mascota seleccionada</h2>
        <hr>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>         
                <tr>
                    <th scope="row"><%= mascotaDB.id %> </th>
                    <td><%= mascotaDB.nombre %></td>
                    <td><%= mascotaDB.descripcion %></td>
                </tr>
            </tbody>
          </table>
          <form action="/mascotas" method="post">
            <input
                type="text"
                placeholder="Editar Nombre de la  Mascota"
                class="form-control my-2"
                name="nombre"
            >
            <input
                type="text"
                placeholder="Editar Descripcion de la  Mascota"
                class="form-control my-2"
                name="descripcion"
            >
            <button
                class="btn btn-success btn-block" 
                type="submit"     
            >
            Editar la Mascota seleccionada 
            </button>
        </form>
    </div>
<%- include("template/footer") %>

